<div class="barnav">
    <a href="../pages/accueil.php">
        <img src="../images/ClusterLabLogo.png" alt="Logo du site" class="logo">
    </a>
    <h1>ClusterLab</h1>

    <div class="barnav-right">
        <div class="menu-burger" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <div class="avatar-text">AW</div>
    </div>

    <nav class="menu-deroulant" id="menu-deroulant">
        <ul>
            <li><a href="../pages/profil.php">Profil</a></li>
            <li><a href="../pages/gererComptes.php">Gérer les comptes</a></li>
            <li><a href="../pages/creationUtilisateur.php">Créer les comptes</a></li>
        </ul>
    </nav>
</div>

<script src="../javascript/javascript.js"></script>