<div class="barnav">
    <a href="../pages/accueil.php">
        <img src="../images/logo.jpg" alt="Logo du site" class="logo">
    </a>
    <h1>Nom du site</h1>

    <div class="barnav-right">
        <div class="menu-burger" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <img src="../images/logo.jpg" alt="Avatar utilisateur" class="avatar">
    </div>

    <nav class="menu-deroulant" id="menu-deroulant">
        <ul>
            <li><a href="">Profil</a></li>
            <li><a href="">Calcul</a></li>
            <li><a href="">Historique</a></li>
        </ul>
    </nav>
</div>

<script src="../javascript/javascript.js"></script>